body
{
	margin: 0px;
	font-family: 'Orbitron', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000094;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.search
{
	float: right;
	padding: 14px 16px;
}

#welcome
{
	text-align: center;
	padding: 10%;
}

#bestSelling
{
	padding: 5%;
	text-align: center;
}

.images
{
	margin: 0 auto;
	padding: 5%;
	width: 15%;
}